{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

    <div class="wrapper">

        <div class="d-flex justify-content-around">
            <h1>Il y a {{ tasks | length }} tâches actuellement.</h1>
            <a class="button-create" href="{{ path('create_task') }}">Créer une tâche</a>
        </div>

        {% for task in tasks %}
            <p>{{ task.name }}</p>
        {% endfor %}

    </div>
{% endblock %}
