{% extends 'base.html.twig' %}

{% block title %}Hello StatutController!{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <div class="d-flex justify-content-around">
            <h1>Il y a {{ status | length }} status actuellement.</h1>
            <a class="button-create" href="{{ path('create_statut') }}">Créer un statut</a>
        </div>
        {% for statut in status %}
            <p>{{ statut.name }}</p>
        {% endfor %}

    </div>
{% endblock %}
