{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}

    <div class="wrapper">

        <a href="{{ path('create_tag') }}">Créer un tag</a>
        
        {% for tag in tags %}
            <p>{{ tag.name }}</p>
        {% endfor %}

    </div>
{% endblock %}
