{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}

    <div class="wrapper">

        <div class="d-flex justify-content-around">
            <h1>Il y a {{ tags | length }} tags actuellement.</h1>
            <a class="button-create" href="{{ path('create_tag') }}">Créer un tag</a>
        </div>

        {% for tag in tags %}
            <p>{{ tag.name }}</p>
        {% endfor %}

    </div>
{% endblock %}
