{# Étend le layout de base pour partager la structure commune (header, footer, etc.) #}
{% extends 'base.html.twig' %}

{# Définit le titre de la page #}
{% block title %}Hello PriorityController!{% endblock %}

{# Début du bloc principal du corps de la page #}
{% block body %}

    <div class="example-wrapper">

        <div class="d-flex justify-content-around">
            <h1>Il y a {{ priorities | length }} priorités actuellement</h1>

            {# Lien vers la page de création de priorités. Utilise la route `create_priority`. #}
            <a class="button-create" href="{{ path('create_priority') }}">Créer une priorité</a>
        </div>

        {# Parcourt toutes les priorités passées à la vue.
       Affiche le nom et le niveau de chaque priorité. #}
        {% for priority in priorities %}
            <h2>{{ priority.name }}</h2> {# Affiche le nom de la priorité. #}
            <p>{{ priority.level }}</p> {# Affiche le niveau de la priorité. #}
        {% endfor %}

    </div>
{% endblock %}
